{% extends "system/books_admin_base.html" %}
{% load static %}
{% load bootstrap3 %}



<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/ico/book-admin.png">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/start-template/start-template.css" rel="stylesheet">
  </head>

  <body>

    {% block title %}
    <title>
      欢迎你，图书管理员。
    </title>
    {% endblock %}

    {% block main_text %}
    <h1>欢迎你，图书管理员。</h1>
    <p>你可以在这里行使你的权限</p>
    {% endblock %}

  </body>
</html>