{% extends "system/reader_base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block starter-template %}
{% endblock %}

{% block card %}
    {% if user %}

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">读者信息</h1>
            <p class="lead">  <small>您个人的信息以卡片的形式呈现在下面</small></p>
        </div>

        <div class="container">

            <div class="col">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">ID：{{ user.Person_Id }}</h4>
                        </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title"><small class="text-muted">{{ user.Person_User }}</small></h1>

                        <ul class="list-unstyled mt-3 mb-4">
                            <li><strong>密码：</strong>{{ user.Person_Password }}</li>
                            <li><strong>姓名：</strong>{{ user.Person_Name }}</li>
                            <li><strong>联系方式：</strong>{{ user.Person_Phone }}</li>
                            <li><strong>可借图书余量：</strong>{{ user.Person_CanBorrow }}</li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>

        </div>

      </div>
    {% endif %}


{% endblock %}

{% block len_information %}
    <a class="dropdown-item" href="{% url 'reader_self_lend_stream' reader_user %}">查看自己的借阅信息</a>
{% endblock %}